.titulo {
    font-size: 2.2em;
    text-align: center;
    padding: 2em 1em 8px;
    font-weight: bold;
}

.line {
    width: 40px;
    border: 1px solid #6c6c6c;
}

.principal {
    width: 100%;
    padding: 10px;
}
.principal .posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.posts .post {
    width: 95%;
    max-width: 800px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #e2e2e2;
    margin: 1em 0;
    transition: all ease .3s;
}
.post .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: #ccc;
}

.post .image img {
    width: 90vw;
}

.post .tag {
    display: inline-block;
    width: auto;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    padding: 3px 8px;
    margin: 10px 0;
    background-color: #ccc;
}

.post .body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post .body .in {
    width: 100%;
    max-width: 480px;
}

.post .body .title {
    font-size: 1.5em;
    font-weight: bold;
    color: #7B4851;
    text-decoration: none;
    line-height: 1.2em;
    margin-bottom: 5px;
}

.post .small {
    color: #FFBFBF;
    font-size: 13px;
}

.post .small a {
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.post .desc {
    font-size: 1.1em;
}

@media screen and (min-width: 480px) {
    /*.posts .post:hover {
        box-shadow: 0 0 20px 1px #efefef;
    }*/
    .post .image {
        height: 250px;
    }
    .post .small {
        margin-top: 6px;
    }
}

@media screen and (min-width: 720px) {
    .titulo {
        font-size: 2.5em;
    }
    .principal {
        margin-bottom: 2em;
    }
    .posts .post {
        margin: 1.5em 0;
    }
    /*.posts .post:hover {
        box-shadow: 0 5px 25px 2px #ededed;
    }*/
    .post .image {
        height: 400px;
    }
    .post .body .title {
        font-size: 1.8em;
    }
    .post .body .title {
        font-size: 1.7em;
    }
}
