@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar-brand {
  position: fixed;
  display: block;
  left: 50%;
  transform: translate(-70%, 0px);
}

/*[INICIO] Navbar de categorias*/

.header_area .navbar .navbar-brand{
  padding: 0 0 0 4rem;
}

.navbar-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: block;
  padding: 20vw 0 0 8vw;
  z-index: 1000;
  box-sizing: border-box;
  transition: opacity .3s;
  opacity: 0;
  visibility: hidden;
}

.active .navbar-nav{
  opacity: 1;
  visibility: visible;
}

.active .navbar-nav .nav-item{
  padding-bottom: 4vw;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.navbar{
  height: 10vh;
  box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.5);
}

.active .navbar{
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.header_area .nav-item .nav-link{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 1.1rem;
}

.navbar-brand img{
  height: 2rem;
  width: auto;
}

.dropdown-menu{
  border: none;
  box-shadow: 0px 5px 10px rgba(57, 56, 61, 0.2);
  top: 4.3rem;
  left: 71rem;
}

.nav-list-mobile{
  display: flex;
}

.nav-list-mobile .nav-item{
  display: flex;
  width: 15vw;
  margin-top: 5vw;
}

.mobile-menu{
  position: relative;
  z-index: 1500;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line{
  position: absolute;
  width: 6vw;
  height: 2px;
  background-color: black;
  transition: margin-top .3192s cubic-bezier(0.04,0.04,0.12,0.96);
}

.line-top{
  margin-top: 3px;
}

.line-bottom{
  margin-top: -0.4rem;
}

.active .line-top{
  margin-top: 0;
  transform: rotate(45deg);
  transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.active .line-bottom{
  margin-top: 0;
  transform: rotate(-45deg);
  transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

header.active{
  height: 100%;
  background-color: white;
}

.active .navbar-nav{
  width: 100%;
  height: 100vh;
  opacity: 1;
}

/*[FIN] Navbar de categorias*/

/*[INICIO] Post*/

.categoria .container{
  width: 75%;
  height: 10vw;
  margin-top: 25vw;
  text-align: center;
  background-color: black;
  color: white;
}

.categoria .container h2{
  font-size: 4.2vw;
  transform: translateY(50%);
}

.titulo{
  width: 80%;
  text-align: center;
  margin: 3% auto 0 auto;
}

.titulo h1{
  font-family: 'Anton', sans-serif;
  font-size: 6vw;
}

.content{
  text-align: center;
  width: 90%;
  margin: auto auto;
}

/*.content .post-img::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  box-shadow: inset 30px 30px 150px #000000, inset -30px -50px 150px #000000;
}*/

.content .post-img img{
  width: 100%;
  z-index: 1;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.text-wrapper{
  width: 90%;
  position: relative;
  z-index: 3;
}

.text-wrapper .autor-tag{
  text-align: center;
  color: black;
  font-size: 2.5vw;
  float: left;
  padding: 6vw 0 0 5vw; /*TRBL*/
}

.text-wrapper .autor{
  float: left;
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  padding: 6vw 0 0 2vw; /*TRBL*/
}

.text-wrapper .fecha{
  float: right;
  color: black;
  font-size: 2.5vw;
  padding: 6vw 0 0 0; /*TRBL*/
}

.text-wrapper .fecha .far.fa-clock{
  font-size: 2vw;
  padding: 0 2vw 0 0; /*TRBL*/
}

.post-text .container{
  padding: 0 8vw;
}

ol{
  padding: 0vw 8vw;
}

ol li{
  padding: 5vw 0;
}

.blockquote{
  padding: 0vw 4vw;
  font-size: 1.1vw;
}

.blockquote p{
 font-weight: bold;
}

hr{
  border-width: 2px 0;
  margin: 3vw 3rem;
}
/*[FIN] Post*/

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
}

.footer .foottop{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .footdown {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  margin: 1em 0;
}

.foottop .text{
  max-width: 450px;
  margin: 3rem 0;
  text-align: center;
}

.foottop h3 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  margin: 0.2em 0 0 0;
}

.foottop p {
  max-width: 450px;
  color: white;
  font-size: 1.2rem;
  margin: 1em 0 0 0;
}

.foottop .text a{
  margin-top: 1rem;
  margin-right: 1rem;
}

.footer .footdown {
  border-top: 1.5px solid #9F9F9F;
  color: #999D97;
  font-size: 14px;
  text-align: center;
}

.footer .footdown p, footer .footdown .social {
  margin: 1em 0;
}
.footer .footdown a {
  color: white;
  text-decoration: none;
}

.footdown .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footdown .social a{
  font-size: 22px;
  margin-right: 16px;
  transition: .5S;
}

.footdown .social a:last-child {
  margin: 0;
}

.footdown .social a:nth-child(1):hover{
  color: #cd201f;
}

.footdown .social a:nth-child(2):hover {
  color: #3b5999;
}

.footdown .social a:nth-child(3):hover {
  color: #e4405f;
}

.footdown .social a:nth-child(4):hover {
  color: #09b83e;
}

.wrapper{
  margin-top: 2vw;
  text-align: center;
  margin-left: 10rem;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  column-gap: 2rem;
  color: white;
  justify-items: left;
}

@media only screen and (min-width: 720px) {
  header {
    background: rgba(0,0,0,1);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
  }
  .main-nav {
    flex-wrap: nowrap;
    justify-content: right;
    background-color: rgba(255, 255, 255, 0);
  }
  .main-nav a {
    width: auto;
    color: white; 
    padding: 8px 15px;
    margin: 15px 10px 8px;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  .main-nav a:hover {
    color: #b6b6b6;
  }
  .main-nav a:last-child {
    margin-right: 8vw;
  }
  .logoicon {
    left: 9vw;
    transform: translate(0,23px);
    transition: all ease .3s;
  }
  .bigchange a {
    color: #000;
    margin: 2px 10px;
  }
  .lgchange {
    transform: translate(0,13px);
  }

  .logoicon, .navbar-brand {
    position: fixed;
    display: block;
    left: 0%;
    transform: translate(25%, 0px);
  }

  .nav-list-mobile{
    display: none;
  }

  .navbar-nav{
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100%;
    padding: 1.1vw 5vw 0 0; 
    opacity: 1;
    visibility: visible;
  }

  /* [INICIO] Post */
  .categoria .container{
    width: 30%;
    height: 4rem;
    margin-top: 8rem;
    text-align: center;
    background-color: black;
    color: white;
  }
  
  .categoria .container h2{
    font-size: 1.5rem;
    transform: translateY(50%);
  }

  .titulo{
    width: 50%;
    text-align: center;
    margin: 3% auto 0 auto;
  }
  
  .titulo h1{
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
  }

  .content{
    text-align: center;
    width: 65%;
    margin: 3% auto 5% auto;
  }
  
  .content img{
    width: 100%;
    z-index: 2;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.5);
  }

  .text-wrapper{
    width: 100%;
    position: relative;
    z-index: 2;
  }
  
  .text-wrapper .autor-tag{
    text-align: center;
    color: black;
    font-size: 1vw;
    float: left;
    padding: 2rem 0 0 3rem; /*TRBL*/
  }
  
  .text-wrapper .autor{
    float: left;
    color: black;
    font-size: 1vw;
    padding: 2rem 0 0 1rem; /*TRBL*/
  }
  
  .text-wrapper .fecha{
    float: right;
    color: black  ;
    font-size: 1vw;
    padding: 2rem 3vw 0 0; /*TRBL*/
  }
  
  .text-wrapper .fecha .far.fa-clock{
    font-size: 1vw;
    padding: 0 0.5rem 0 0; /*TRBL*/
  }

  ol{
    padding: 0vw 4vw;
  }
  
  ol li{
    padding: 1vw 0;
  }

  /* [FIN] Post */

  /* [INICIO] Footer */

  .footer .footdown {
    justify-content: space-between;
  }
  .footdown .social{
    transform: translateY(-8px);
  }

  .footer .foottop{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
  }
  
  .foottop .text{
    text-align: center;
  }
  
  .foottop h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
  }
  
  .foottop p {
    color: white;
    font-size: 1rem;
  }
  
  .foottop .text a{
    margin-top: 1rem;
    margin-right: 1rem;
  }
  /* [FIN] Footer */

}
