@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: .3s;
}
.logoicon {
  position: fixed;
  display: block;
  left: 50%;
  transform: translate(-50%, 15px);
}
.logoicon img{
  height: 33px;
  width: auto;
}

.mobile-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
  border-bottom: none;
  background: rgba(0,0,0,1);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
  transition: .3s;
}

.mobile-icon a {
  font-size: 16px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
  padding: 6px 10px;
  transition: .3s;
}
.mobile-icon a:first-child {
  height: 33px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, .8);
}

.mobile-icon a:last-child {
  font-size: 24px;
  transform: rotate(-10deg);
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background-color: rgba(255, 255, 255, .7);
}

.main-nav a {
  display: block;
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
  margin: 2px 20px;
  text-decoration: none;
  color: black;
  transition: all ease .3s;
}

.main-nav a:active, .main-nav a:checked {
  color: black;
}

.change, .bigchange {
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 0px 10px #b6b6b6;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

.change a{
  color: black;
}

.change a:first-child {
  border: 1px solid rgba(0, 0, 0, .4);
}


.wrapper{
  margin-left: 10rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  column-gap: 2rem;
  color: white;
  justify-items: left;
}

.social-menu ul{
  position: absolute;
  display: flex;
  left: 69%;
}

.social-menu ul li{
  list-style: none;
  margin: 0 0.8rem;
  top: 50%;
}

.social-menu ul li .fab{
  font-size: 1.3rem;
  line-height: 2.5rem;
  transition: .2s;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li:nth-child(1) a:hover{
  color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover{
  color: #e4405f;
}

.social-menu ul li:nth-child(3) a:hover{
  color: #cd201f;
}

.social-menu ul li:nth-child(4) a:hover{
  color: #09b83e;
}

@media only screen and (min-width: 720px) {
  header {
    background: rgba(0,0,0,1);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
  }
  .main-nav {
    flex-wrap: nowrap;
    justify-content: right;
    background-color: rgba(255, 255, 255, 0);
  }
  .main-nav a {
    width: auto;
    color: white; 
    padding: 8px 15px;
    margin: 15px 10px 8px;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  .main-nav a:hover {
    color: #b6b6b6;
  }
  .main-nav a:last-child {
    margin-right: 8vw;
  }
  .logoicon {
    left: 9vw;
    transform: translate(0,23px);
    transition: all ease .3s;
  }
  .bigchange a {
    color: #000;
    margin: 2px 10px;
  }
  .lgchange {
    transform: translate(0,13px);
  }
}
